<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi Tiết Sản Phẩm</title>
    <link rel="stylesheet" href="bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="poly.css">
</head> -->

<body>
    <header >
        <img src="images/banner_gear_-_banner_top_ba1c84d.jpg" class="w-100 bg-danger" alt="" style="height: 50px;" >
        <!-- <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" style="color: white;" href="Trangchu.html"><img src="images/Untitled.png" class="w-25" alt="">GIGA</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-list"></i>
                          Danh Mục
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Laptop</a></li>
                          <li><a class="dropdown-item" href="#">Laptop Gaming</a></li>
                          <li><a class="dropdown-item" href="Sanpham.html">PC GVN</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Main,CPU,VGA,Tản</a></li>
                          <li><a class="dropdown-item" href="#">Case-Nguồn-Phụ kiện</a></li>
                          <li><a class="dropdown-item" href="#">Ổ Cứng, Ram, Thẻ nhớ</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Màn Hình</a></li>
                          <li><a class="dropdown-item" href="#">Bàn Phím</a></li>
                          <li><a class="dropdown-item" href="#">Chuột + Lót Chuột</a></li>
                          <li><a class="dropdown-item" href="#">Tai Nghe - Loa</a></li>
                          <li><a class="dropdown-item" href="#">Ghế - Bàn</a></li>
                        </ul>
                        <li>
                        <nav class="navbar ">
                            <div class="container-fluid">
                              <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-light" type="submit" ><i class="fa-solid fa-magnifying-glass"></i></button>
                              </form>
                            </div>
                          </nav>
                        </li>
                  <li class="nav-item">
                    <a class="nav-link" href="tincongnghe.html"><i class="fa-regular fa-newspaper"></i>Tin Công Nghệ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-solid fa-phone-volume"></i>Liên Hệ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-solid fa-location-dot"></i>Hệ Thống Cửa Hàng</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-solid fa-shield"></i>Chính Sách Bảo Hành</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="giohang.html"><i class="fa-solid fa-cart-shopping"></i>Giỏ Hàng</a>
                  </li>
                </ul>
                <span class="navbar-text">
                  <button class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal">Đăng Nhập</button>
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Đăng Nhập</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Tên Đăng Nhập</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" required>
                          </div>
                          <div class="mb-3">
                            <label for="formGroupExampleInput2" class="form-label">Mật Khẩu</label>
                            <input type="password" class="form-control" id="formGroupExampleInput2" required>
                            <div class="mt-3"> Nếu bạn quên mật khẩu:
                              <a href="quenmatkhau.html" class="text-decoration-none text-primary">Quên Mật Khẩu?</a>
                            </div>
                          <div class="mb-3">
                            <button type="button" class="btn btn-dark mt-3 w-100">Đăng Nhập</button>
                          </div>
                          <hr>
                          <div class="mb-3"> Đăng Nhập Bằng Cách Khác:
                            <a href="#" class="me-5 mx-5"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#" class="me-5 mx-5"><i class="fa-brands fa-google"></i></a>
                          </div>
                          <div class="mb-3"> Nếu bạn chưa có tài khoản:
                            <a href="dangky.html" class="text-decoration-none text-primary">Đăng Ký Ngay?</a>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </span>
              </div>
            </div>
          </nav> -->
        </header>
    <div class="container">
        <div class="row">
            <div class="p-3 bg-light">
                <div class="row">
                    <div class="col-5">
                        <img src="{{sp.image}}" alt="" style="border-right: 1px solid;" class="w-75">
                    </div>
                    <div class="col-7">
                        <h2>{{sp.name}}</h2>
                        <p class="text-warning">{{sp.danhgia}}<i class="fa-solid fa-star"></i>
                            <a href="" class="text-decoration-none mx-3">Xem đánh giá</a> <br>
                        <h3 class="text-danger">{{sp.price2| number:0}}đ
                            <del class="mx-3">{{sp.price1| number:0}}đ </del> <span class="badge text-bg-danger">{{sp.giamgia}}%</span>
                            <button href="#" type="button"
                                class="w-50 mt-3 rounded text-decoration-none border-0 text-light"
                                style="height: 75px; background-color: red; " ng-click="addtoCart(sp)"><strong>Mua Ngay</strong></button>
                            <p class="text-danger mt-2">ƯU ĐÃI KHI MUA KÈM PC</p>
                            <i class="fa-solid fa-star text-warning"></i><a href=""
                                class="text-primary text-decoration-none"> Ưu đãi lên đến 54% khi mua kèm PC</a>
                            <hr>
                            <p class="text-danger mt-2">Hỗ trợ trả góp MPOS (Thẻ tín dụng), HDSAISON.</p>
                    </div>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button bg-secondary text-light" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    Khuyến Mãi
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p><i class="fa-solid fa-check text-success"></i>Giảm ngay 300.000đ khi mua thêm RAM
                                        kèm
                                        với PC.</p><br>
                                    <p><i class="fa-solid fa-check text-success"></i>Giảm ngay 200.000đ khi mua thêm SSD
                                        kèm
                                        với PC.</p><br>
                                    <p><i class="fa-solid fa-check text-success"></i>Ưu đãi 100.000đ khi mua thêm bàn
                                        phím
                                        cùng PC Gaming.</p><br>
                                    <p><i class="fa-solid fa-check text-success"></i>Ưu đãi 100.000đ khi mua thêm chuột
                                        cùng
                                        PC Gaming.</p><br>
                                    <p><i class="fa-solid fa-check text-success"></i>Ưu đãi 100.000đ khi mua thêm tai
                                        nghe
                                        cùng PC Gaming.</p><br>
                                    <p><i class="fa-solid fa-check text-success"></i>Ưu đãi 200.000đ khi mua thêm ghế
                                        cùng
                                        PC Gaming. </p><br>
                                    <p><i class="fa-solid fa-check text-success"></i>Giảm thêm 500.000đ khi mua kèm màn
                                        hình
                                        với PC.</p><br>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <article class="col-7">
                <div class="p-3 bg-light mt-2">
                    <div class="row">
                        <h4>Thông Tin Sản Phẩm</h4>
                        <img src="images/thongtinsp.png" alt="">
                        <h4 class="mt-2">Thông Số Kỹ Thuật:</h4>
                        <table class="table table-bordered">
                            <table class="table table-bordered">
                                <thead>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="bg-light">Mainboard</td>
                                        <td>MSI PRO B760M-A WIFI DDR4</td>
                                        <td>36 Tháng</td>
                                    </tr>
                                    <tr>
                                        <td class="bg-light">CPU</td>
                                        <td>Intel Core i5 12400F / 2.5GHz Turbo 4.4GHz / 6 Nhân 12 Luồng / 18MB / LGA
                                            1700
                                        </td>
                                        <td>36 Tháng</td>
                                    </tr>
                                    <tr>
                                        <td class="bg-light">RAM</td>
                                        <td>T-Group T-Force Delta 1x8GB 3600 RGB Black</td>
                                        <td>36 Tháng</td>
                                    </tr>
                                    <tr>
                                        <td class="bg-light">VGA - Card đồ họa</td>
                                        <td>ASUS Dual Radeon RX 6600 V2 8GB GDDR6 (DUAL-RX6600-8G-V2)</td>
                                        <td>36 Tháng</td>
                                    </tr>
                                    <tr>
                                        <td class="bg-light">HDD</td>
                                        <td>Có thể tùy chọn Nâng cấp</td>
                                        <td>24 Tháng</td>
                                    </tr>
                                    <tr>
                                        <td class="bg-light">SSD</td>
                                        <td>WD Black SN770 250G M.2 NVMe PCIe Gen4</td>
                                        <td>60 Tháng</td>
                                    </tr>
                                    <tr>
                                        <td class="bg-light">PSU</td>
                                        <td>FSP HV PRO 550W - 80 Plus Bronze</td>
                                        <td>36 Tháng</td>
                                    </tr>
                                    <tr>
                                        <td class="bg-light">Case </td>
                                        <td>1st Player XF Black</td>
                                        <td>12 Tháng</td>
                                    </tr>
                                    <tr>
                                        <td class="bg-light">Tản nhiệt</td>
                                        <td>DEEPCOOL AG400 ARGB</td>
                                        <td>12 Tháng</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="anhienthongtin">
                                <h2>Đánh giá chi tiết :</h2>
                                <div id="moreInfo" style="display: none;">
                                    <strong>Bo mạch chủ MSI PRO B760M-A WIFI DDR4</strong>
                                    <p>MSI PRO B760M-A WIFI DDR4 là một trong những dòng mainboard được chắt lọc các yếu
                                        tố thiết yếu của nền tảng Intel mới nhất và kết hợp chúng để tạo thành một sản
                                        phẩm hoàn hảo trong phân khúc tầm trung.</p>
                                    <img src="images/thongtin1.png" alt="">
                                    <p>Được thiết kế với các thành phần tốt nhất, chiếc bo mạch chủ cung cấp đầy đủ
                                        những kết nối cơ bản giúp cuộc sống của bạn dễ dàng hơn. Việc được bọc thép sẽ
                                        làm giảm thiểu hiện tượng gẫy hay vặn xoắn khe PCI-E khi bạn chọn lắp những VGA
                                        lớn. Qua đó giúp tăng độ bền của sản phẩm và khả năng sang nhượng trong tương
                                        lai là sáng sủa hơn trông thấy.</p>
                                    <strong>Intel Core i5 12400F / 2.5GHz Turbo 4.4GHz / 6 Nhân 12 Luồng / 18MB / LGA
                                        1700</strong>
                                    <p>CPU Intel Core i5 - 12400F đã khiến thị trường dòng chip tầm trung "nóng" hơn rất
                                        nhiều. Với 6 nhân 12 luồng, xung nhịp 2.5GHz và turbo boost lên 4.4GHz, quả là
                                        là sự chọn tuyệt vời cho việc chơi game cho tới stream game, vượt xa người tiền
                                        nhiệm i5-11400F khi không thể hoàn thành tốt việc stream game. </p>
                                    <img src="images/thongtin2.png" alt="">
                                    <p>6 nhân 12 luồng chỉ còn loanh quanh trong mức giá khoảng 5 triệu, cách đây khoảng
                                        2 năm đây còn là điều không tưởng khi i7-8700 ra đời. Nhưng hiện taị mọi chuyện
                                        đã thay đổi khi Intel đã chính thức bước vào cuộc đua về thông số và giá cả với
                                        đối thủ truyền kiếp AMD, cơ hội để bạn sở hữu một dàn máy chất lượng chính là
                                        thời điểm hiện tại.</p>
                                    <strong>Ram T-Group T-Force Delta 1x8GB 3600 RGB Black</strong>
                                    <img src="images/thongtin3.png" alt="">
                                    <p>RAM của hệ thống là dòng sản phẩm Ram T-Group T-Force Delta 1x8GB 3600 RGB Black
                                        của thương hiệu lâu đời và danh tiếng của Team Group có khả năng tự ép xung để
                                        nâng cao hiệu suất hoạt động trên toàn hệ thống.</p>
                                    <strong>ASUS Dual Radeon RX 6600 V2 8GB GDDR6 (DUAL-RX6600-8G-V2)</strong>
                                    <p>Máy tính để bàn PC GVN Intel i5-12400F/ VGA RX 6600 sử dụng dòng card màn hình
                                        với nhiều tính năng nổi trội. Điểm đặc biệt nhất đó chính là hệ thống làm mát,
                                        cùng một số cải tiến để mang lại hiệu quả cao hơn.</p>\
                                    <img src="images/thongtin4.png" alt="">
                                    <p>Cánh quạt của hệ thống làm mát quay luân phiên, giải quyết luồng không khí hỗn
                                        loạn của các quạt liền kề. Nếu như trước đây các dòng quạt liền kề xe được thiết
                                        kế để quay cùng một chiều. Hiện tại các dòng card màn hình đã cải tiến để các
                                        quạt quay ngược chiều nhau. Làm giảm tình trạng các luồng khí hỗn loạn và hạn
                                        chế card màn hình nóng lên trong lúc làm việc.</p>
                                    <strong>SSD WD Blue SN570 250G M.2 NVMe PCIe Gen3</strong>
                                    <img src="images/thongtin5.png" alt="">
                                    <p>Tất cả các sản phẩm của Kingston được sản xuất và thử nghiệm nghiêm ngặt trước
                                        khi xuất xưởng. SSD WD Blue SN570 250G M.2 NVMe PCIe Gen3 chất lượng cao từ các
                                        nhà cung cấp hàng đầu của ngành công nghiệp để đảm bảo chất lượng cực cao. Ổ
                                        cứng WD hoàn toàn tương thích trên tất cả các ứng dụng và môi trường để đảm bảo
                                        đáp ứng các tiêu chuẩn chất lượng, độ tin cậy và độ bền cao nhất.</p>
                                    <strong>Nguồn FSP HV PRO 550W - 80 Plus Bronze</strong>
                                    <img src="images/thongtin6.png" alt="">
                                    <p>Chứng nhận 80 Plus đảm bảo hiệu suất hoạt động tốt hơn. Ít lãng phí điện năng,
                                        làm giảm nhiệt và tiếng ồn của quạt. Nguồn FSP HV PRO 550W - 80 Plus Bronze có
                                        thể đạt hiệu suất lên tới 80%. Nguồn FSP HV PRO 550W - 80 Plus Bronze cung cấp
                                        giải pháp tốt nhất cho việc xây dựng hệ thống khi build PC. <br>
                                        - Cáp bện lưới làm giảm sự lộn xộn và cải thiện luồng không khí trong case. Tất
                                        cả các tụ điện là tụ điện chất lượng cao, để tạo ra hiệu suất hiệu quả và đảm
                                        bảo độ tin cậy lâu hơn. <br>
                                        - Đường Single rail + 12V cung cấp năng lượng tốt nhất, ổn định và tương thích
                                        cho phần cứng. Và nó là thiết kế tốt nhất để cài đặt. <br>
                                        - Quạt vòng bi thủy lực 120mm tối ưu hóa việc giảm tiếng ồn và hiệu suất nhiệt.
                                        Tốc độ quạt được điều chỉnh tự động theo hoạt động của nguồn. Quạt thủy lực cho
                                        tuổi thọ dài hơn và ổn định hơn. <br></p>
                                    <strong>Case 1st Player XF Black (4 fan RGB)</strong>
                                    <p>Tuy là case khá nhỏ gọn nhưng được hỗ trợ khả năng làm mát cực kỳ ấn tượng với
                                        bốn quạt LED đi cùng. Cùng với đó case được trang bị một tấm kính cường lực mặt
                                        bên để tăng thêm tính thẩm mỹ của vỏ case. </p>
                                    <img src="images/thongtin7.png" alt="">
                                    <p>Bốn quạt 120mm được cài đặt sẵn trong 1st Player XF Black với 3 quạt ở phía trước
                                        1 quạt ở phía sau. Quạt được thắp sáng nhờ tổ hợp đèn LED phía trước case, bạn
                                        chỉ cần cắm điện và tận hưởng trải nghiệm. Các tấm lưới phía trước và phía trên
                                        cung cấp hệ thống thông gió tối ưu để di chuyển một lượng lớn không khí trong
                                        suốt vỏ máy.</p>
                                    <p>Không dừng lại ở đó, nhờ vào việc tích hợp các cổng kết nối trên nóc máy hỗ trợ
                                        người dùng thuận tiện kết nối với các thiết bị ngoại vi như chuột máy tính, bàn
                                        phím và nhiều phụ kiện khác một các dễ dàng.</p>
                                    <strong>Tản nhiệt DEEPCOOL AG400 ARGB</strong>
                                    <p>Để nâng cấp hiệu năng cho bộ máy, PC GVN Intel i5-12400F/ VGA RX 6600 được trang
                                        bị hệ thống Tản nhiệt DEEPCOOL AG400 ARGB. Sở hữu thiết kế cánh quạt tối ưu
                                        luồng gió và áp suất gió làm mát bộ máy khi vận hành. Dễ dàng kết nối với các bo
                                        mạch chủ có trên thị trường ở nhiều phân khúc khác nhau. Cùng với đó là 4 ống
                                        dẫn nhiệt sử dụng công nghệ Direct Contact đảm bảo bề mặt tiếp xúc tốt.</p>
                                    <img src="images/thongtin8.png" alt="">
                                    <p>Ngoài những hiệu năng đỉnh cao, dòng sản phẩm tản nhiệt khí đến từ Deepcool còn
                                        giúp bộ máy ấn tượng hơn với hệ thống LED ARGB có thể tinh chỉnh dễ dàng. </p>
                                </div>
                                <button class="btn btn-danger mt-3" id="toggleButton">Ẩn/Hiện Thông Tin</button>
                            </div>
                    </div>
                </div>
            </article>
            <aside class="col-5">
                <div class="p-3 bg-light mt-2">
                    <h3>Sản Phẩm Tương Tự</h3>
                    <div class="row mt-3">
                        <img src="images/pc5.png" class="card-img-top w-25 col-6" alt="...">
                        <div class="col-6">
                            <a href="#" class="text-decoration-none ">PC GVN Intel i9-14900KF/ VGA RTX 4080</a> <br>
                            <del>93.620.000₫</del>
                            <p class="text-danger"><strong> 89.000.000₫</strong> <span
                                    class="badge text-bg-danger">-5%</span></p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <img src="images/pc4.png" class="card-img-top w-25 col-6" alt="...">
                        <div class="col-6">
                            <a href="#" class="text-decoration-none ">PC GVN Homework R5</a> <br>
                            <del>8.340.000₫</del>
                            <p class="text-danger"><strong> 7.990.000₫</strong> <span
                                    class="badge text-bg-danger">-4%</span></p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <img src="images/pc6.png" class="card-img-top w-25 col-6" alt="...">
                        <div class="col-6">
                            <a href="#" class="text-decoration-none ">PC GVN Intel i7-13700F/ VGA RTX 4060 Ti</a> <br>
                            <del>36.610.000₫</del>
                            <p class="text-danger"><strong> 34.990.000₫</strong> <span
                                    class="badge text-bg-danger">-4%</span></p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <img src="images/pc8.png" class="card-img-top w-25 col-6" alt="...">
                        <div class="col-6">
                            <a href="#" class="text-decoration-none ">PC GVN Intel i7-13700F/ VGA RTX 4060</a> <br>
                            <del>34.520.000₫</del>
                            <p class="text-danger"><strong> 32.990.000₫</strong> <span
                                    class="badge text-bg-danger">-4%</span></p>
                        </div>
                    </div>
                </div>
                <div class="p-3 bg-light mt-2">
                    <h3>Tin Tức Về Sản Phẩm</h3>
                    <div class="row">
                        <img src="images/tintuc1.png" alt="" class="col-6 w-25 mt-3">
                        <a href="#" class="col-6 text-decoration-none mt-3">Game NFT là gì ? Cách kiếm tiền từ game NFT
                            - Xu hướng game 2024</a>
                    </div>
                    <div class="row">
                        <img src="images/tintuc2.png" alt="" class="col-6 w-25 mt-3">
                        <a href="#" class="col-6 text-decoration-none mt-3">Đánh giá chi tiết máy chơi game cầm tay MSI
                            Claw</a>
                    </div>
                    <div class="row">
                        <img src="images/tintuc3.png" alt="" class="col-6 w-25 mt-3">
                        <a href="#" class="col-6 text-decoration-none mt-3">Cẩm nang chọn laptop cho sinh viên siêu
                            chuẩn năm 2024</a>
                    </div>
                    <div class="row">
                        <img src="images/tintuc4.png" alt="" class="col-6 w-25 mt-3">
                        <a href="#" class="col-6 text-decoration-none mt-3">Bard AI là gì Tìm hiểu đặc điểm và cách sử
                            dụng Google Bard</a>
                    </div>
                </div>
        </div>
        </aside>
        <div class="p-3 bg-light mt-2">
            <h2>Đánh Giá Sản Phẩm PC GVN Intel i5-12400F/ VGA RX 6600</h2>
            <div class="rating">
                <input type="radio" id="star5" name="rating" value="5">
                <label for="star5" class="star" title="5 sao"></label>
                <input type="radio" id="star4" name="rating" value="4">
                <label for="star4" class="star" title="4 sao"></label>
                <input type="radio" id="star3" name="rating" value="3">
                <label for="star3" class="star" title="3 sao"></label>
                <input type="radio" id="star2" name="rating" value="2">
                <label for="star2" class="star" title="2 sao"></label>
                <input type="radio" id="star1" name="rating" value="1">
                <label for="star1" class="star" title="1 sao"></label>
            </div>
            <p class="mt-3"><strong>Đánh Giá:</strong> <span id="ratingValue">Chưa có đánh giá</span></p>
            <div class="mb-3">
                <label for="userReview" class="form-label">Nhận xét của bạn:</label>
                <textarea class="form-control" id="userReview" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-danger" onclick="submitReview()">Gửi Đánh Giá</button>
        </div>
        <div class="p-3 bg-light mt-2">
            <h3>Để Lại Bình Luận Về: PC GVN Intel i5-12400F/ VGA RX 6600</h3>
            <div class="comments">
            </div>
            <h4>Thêm Bình Luận</h4>
            <form id="commentForm">
                <div class="mb-3">
                    <label for="userName" class="form-label">Tên người dùng:</label>
                    <input type="text" class="form-control" id="userName" required>
                </div>
                <div class="mb-3">
                    <label for="commentText" class="form-label">Nội dung bình luận:</label>
                    <textarea class="form-control" id="commentText" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-danger">Gửi Bình Luận</button>
            </form>
        </div>
    </div>
    <footer class="text-bg-light mt-2">
        <div class="row">
            <div class=" col-3 ">
                <h3>Về GIGAVN</h3>
                <a href="#" class="footer">Giới Thiệu</a> <br>
                <a href="#" class="footer">Tuyển Dụng</a>
            </div>
            <div class=" col-3">
                <h3>Chính Sách</h3>
                <a href="#" class="footer">Chính Sách Bảo Hành</a> <br>
                <a href="#" class="footer">Chính Sách Thanh Toán</a> <br>
                <a href="#" class="footer">Chính Sách Giao Hàng</a><br>
                <a href="#" class="footer">Chính Sách Bảo Mật</a><br>
            </div>
            <div class=" col-3">
                <h3>Thông Tin Và Hổ Trợ</h3>
                <a href="#" class="footer">Hệ Thống Cửa Hàng</a><br>
                <a href="#" class="footer">Trung Tâm Bảo Hành</a> <br>
                <a href="#" class="footer">CSKH: 1900.1008</a> <br>
            </div>
            <div class=" col-3">
                <h3>Cách Thức Thanh Toán</h3>
                <img src="images/pay_1.png" alt="" class="w-25">
                <img src="images/pay_2.png" alt="" class="w-25">
                <img src="images/pay_3.png" alt="" class="w-25">
                <img src="images/pay_4.png" alt="" class="w-25">
                <img src="images/pay_5.png" alt="" class="w-25">
                <img src="images/pay_6.png" alt="" class="w-25">
                <img src="images/pay_7.png" alt="" class="w-25">
                <img src="images/pay_8.png" alt="" class="w-25">
            </div>
        </div>
    </footer>
    <!-- <script src="bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/77eced6b9d.js" crossorigin="anonymous"></script>
    <script src="script.js"></script> -->
</body>

</html>