<link rel="stylesheet" href="poly.css">
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid bg-danger">
      <a class="navbar-brand" style="color: white;" href="#!home"><img src="images/Untitled.png" class="w-25" alt="">GIGA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-list"></i>
                  Danh Mục
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Laptop</a></li>
                  <li><a class="dropdown-item" href="#">Laptop Gaming</a></li>
                  <li><a class="dropdown-item" href="Sanpham.html">PC GVN</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Main,CPU,VGA,Tản</a></li>
                  <li><a class="dropdown-item" href="#">Case-Nguồn-Phụ kiện</a></li>
                  <li><a class="dropdown-item" href="#">Ổ Cứng, Ram, Thẻ nhớ</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Màn Hình</a></li>
                  <li><a class="dropdown-item" href="#">Bàn Phím</a></li>
                  <li><a class="dropdown-item" href="#">Chuột + Lót Chuột</a></li>
                  <li><a class="dropdown-item" href="#">Tai Nghe - Loa</a></li>
                  <li><a class="dropdown-item" href="#">Ghế - Bàn</a></li>
                </ul>
                <li>
                    <div class="container-fluid">
                      <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit" ><i class="fa-solid fa-magnifying-glass"></i></button>
                      </form>
                    </div>
                </li>
          <li class="nav-item">
            <a class="nav-link" href="#!tintuc"><i class="fa-regular fa-newspaper"></i>Tin Công Nghệ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!about"><i class="fa-solid fa-phone-volume"></i>Liên Hệ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!sanpham"><i class="fa-brands fa-product-hunt"></i></i>Sản Phẩm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!tinkhuyenmai"><i class="fa-solid fa-newspaper"></i>Tin Khuyến Mãi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!cart"><i class="fa-solid fa-cart-shopping"></i>Giỏ Hàng</a>
          </li>
        </ul>
        <span class="navbar-text">
          <button class="btn btn-outline-light"><a href="#!dangnhap" class="text-decoration-none">Đăng Nhập</a></button>
        </span>
      </div>
    </div>
  </nav>