<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bản Tin</title>
    <link rel="stylesheet" href="bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="poly.css">
</head> -->
<body ng-app="myapp">
  <header >
    <img src="images/banner_gear_-_banner_top_ba1c84d.jpg" class="w-100 bg-danger" alt="" style="height: 50px;" >
    <!-- <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" style="color: white;" href="Trangchu.html"><img src="images/Untitled.png" class="w-25" alt="">GIGA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-list"></i>
                      Danh Mục
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Laptop</a></li>
                      <li><a class="dropdown-item" href="#">Laptop Gaming</a></li>
                      <li><a class="dropdown-item" href="Sanpham.html">PC GVN</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Main,CPU,VGA,Tản</a></li>
                      <li><a class="dropdown-item" href="#">Case-Nguồn-Phụ kiện</a></li>
                      <li><a class="dropdown-item" href="#">Ổ Cứng, Ram, Thẻ nhớ</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Màn Hình</a></li>
                      <li><a class="dropdown-item" href="#">Bàn Phím</a></li>
                      <li><a class="dropdown-item" href="#">Chuột + Lót Chuột</a></li>
                      <li><a class="dropdown-item" href="#">Tai Nghe - Loa</a></li>
                      <li><a class="dropdown-item" href="#">Ghế - Bàn</a></li>
                    </ul>
                    <li>
                    <nav class="navbar ">
                        <div class="container-fluid">
                          <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-light" type="submit" ><i class="fa-solid fa-magnifying-glass"></i></button>
                          </form>
                        </div>
                      </nav>
                    </li>
              <li class="nav-item">
                <a class="nav-link" href="tincongnghe.html"><i class="fa-regular fa-newspaper"></i>Tin Công Nghệ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-phone-volume"></i>Liên Hệ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-location-dot"></i>Hệ Thống Cửa Hàng</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-shield"></i>Chính Sách Bảo Hành</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="giohang.html"><i class="fa-solid fa-cart-shopping"></i>Giỏ Hàng</a>
              </li>
            </ul>
            <span class="navbar-text">
              <button class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal">Đăng Nhập</button>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Đăng Nhập</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Tên Đăng Nhập</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" required>
                      </div>
                      <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Mật Khẩu</label>
                        <input type="password" class="form-control" id="formGroupExampleInput2" required>
                        <div class="mt-3"> Nếu bạn quên mật khẩu:
                          <a href="quenmatkhau.html" class="text-decoration-none text-primary">Quên Mật Khẩu?</a>
                        </div>
                      <div class="mb-3">
                        <button type="button" class="btn btn-dark mt-3 w-100">Đăng Nhập</button>
                      </div>
                      <hr>
                      <div class="mb-3"> Đăng Nhập Bằng Cách Khác:
                        <a href="#" class="me-5 mx-5"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#" class="me-5 mx-5"><i class="fa-brands fa-google"></i></a>
                      </div>
                      <div class="mb-3"> Nếu bạn chưa có tài khoản:
                        <a href="dangky.html" class="text-decoration-none text-primary">Đăng Ký Ngay?</a>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </span>
          </div>
        </div>
      </nav> -->
    </header>
    <div class="container" ng-controller="myctrl">
        <div class="row">
            <img src="images/headblog_banner.png" alt="">
            <div class="row">
                <article class="col-9">
                    <div class="row">
                        <div class="col-8 mt-2 ">
                        <img src="images/tintuc5.png" alt="" class="w-100">
                        <a href="#" class="text-decoration-none">MUA ROG SCAR 16/18 2024 - NHẬN COMBO QUÀ GIỚI HẠN</a>
                    </div>
                    <div class="col-4 mt-2 ">
                        <img src="images/tintuc6.png" alt="" class="w-100">
                        <a href="#" class="text-decoration-none">Hệ điều hành Windows mới đáng dùng nhất (Microsoft Windows 12) - AI PC</a>
                        <p>Như bạn có thể cảm nhận về sự xuất hiện của trí tuệ nhân tạo AI đang dần dần xen lẫn vào mọi ngóc ngách của công nghệ, hay nói đúng hơn trí tuệ nhân tạo đang có dưới dạng một chức năng riêng lẻ vậy điều thực sự thiếu bây giờ là một hệ thống nhất và hỗ trợ toàn diện cho AI nơi chúng ta có tất cả các...</p>
                    </div>  
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <img src="images/AI.png" alt="" class="w-100">
                            <a href="#" class="text-decoration-none">Tương lai của trí tuệ nhân tạo AI - Sự bối rối từ Open AI ??</a>
                        </div>
                        <div class="col-4">
                            <img src="images/msi.png" alt="" class="w-100">
                            <a href="#" class="text-decoration-none">Hướng dẫn nhận Steam code 30$ từ chương trình “Quà tặng cuối năm khi mua laptop MSI...</a>
                        </div>
                        <div class="col-4">
                            <img src="images/king.png" alt="" class="w-100">
                            <a href="#" class="text-decoration-none">PREDATOR FEST 2023: REBORN OF THE KING - ĐẠI TIỆC CÔNG NGHỆ...</a>
                        </div>
                    </div>
                    <hr>
                    <div ng-repeat="sp in dsSP">
                    <img src="{{sp.image}}" alt="" class="w-25">
                    <a href="#" class="text-decoration-none">{{sp.name}}</a>
                    <hr>
                  </div>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item">
                        <button class="page-link {{(page==1)?'disabled':''}}" href="#" aria-label="Previous" ng-click="chuyenTrang(page-1)">
                          <span aria-hidden="true">&laquo;</span>
                        </button>
                      </li>
                      <li class="page-item {{(page==trang)?'active':''}}" ng-repeat="trang in dsTrang"><button class="page-link" href="#" ng-click="chuyenTrang(trang)">{{trang}}</button></li>
                      <li class="page-item">
                        <button class="page-link {{(page==totalPage)?'disabled':''}}" href="#" aria-label="Next" ng-click="chuyenTrang(page+1)">
                          <span aria-hidden="true">&raquo;</span>
                        </button>
                      </li>
                    </ul>
                  </nav> 
                </article>
                <aside class="col-3">
                    <div class="p-3 bg-light">
                        <h2 class="text-bg-danger">Chủ Đề Hot</h2>
                        <div class="row">
                        <div class="col-4">
                        <a href="#" class="text-decoration-none"><img src="images/cdh1.png" alt="" class="col-4 w-100">LapTop</a>
                        </div>
                        <div class="col-4">
                            <a href="#" class="text-decoration-none"><img src="images/cdh2.png" alt="" class="col-4 w-100 ">PC</a>
                        </div>
                        <div class="col-4">
                            <a href="#" class="text-decoration-none"><img src="images/cdh3.png" alt="" class="col-4 w-100">Màn Hình</a>
                        </div>
                        <div class="col-4">
                            <a href="#" class="text-decoration-none"><img src="images/cdh4.png" alt="" class="col-4 w-100">Chuột</a>
                        </div>
                        <div class="col-4">
                            <a href="#" class="text-decoration-none"><img src="images/cdh5.png" alt="" class="col-4 w-100">Bàn Phím</a>
                        </div>
                        <div class="col-4">
                            <a href="#" class="text-decoration-none"><img src="images/cdh6.png" alt="" class="col-4 w-100">Linh Kiện</a>
                        </div>
                    </div>
                </div>
                <div class="p-3 bg-light mt-5">
                    <h2 class="text-bg-danger">Chủ Đề Game</h2>
                    <div class="row">
                    <div class="col-4">
                    <a href="#" class="text-decoration-none"><img src="images/cdg1.png" alt="" class="col-4 w-100">Game FPS</a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="text-decoration-none"><img src="images/cdg2.png" alt="" class="col-4 w-100 ">Game RPG</a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="text-decoration-none"><img src="images/cdg3.png" alt="" class="col-4 w-100">Game Co.op</a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="text-decoration-none"><img src="images/cdg4.png" alt="" class="col-4 w-100">Game hành động</a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="text-decoration-none"><img src="images/cdg5.png" alt="" class="col-4 w-100">Game sinh tồn</a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="text-decoration-none"><img src="images/cdg6.png" alt="" class="col-4 w-100">Game kinh dị</a>
                    </div>
                </div>
            </div>
            <div class="p-3 bg-light mt-5">
                <h2 >Xem Nhanh</h2>
                <div class="row">
                    <img src="images/tintuc7.png" alt="" class="w-25">
                    <a href="#" class="text-decoration-none">MUA AORUS/GIGABYTE LAPTOP 2023 - NHẬN NGAY QUÀ CỰC HOT</a>
                    <hr>
                    <img src="images/tt.png" alt="" class="w-25">
                    <a href="#" class="text-decoration-none">NĂM MỚI PHẢI TỚI - ASUS MỚI, MỞ HÀNH TRÌNH MỚI</a>
                    <hr>
                    <img src="images/tt1.png" alt="" class="w-25">
                    <a href="#" class="text-decoration-none">AI PC - NHÂN RỘNG CÔNG NGHỆ TRÍ TUỆ NHÂN TẠO</a>
                    <hr>
                    <img src="images/tt2.png" alt="" class="w-25">
                    <a href="#" class="text-decoration-none">GIÁNG SINH RỦNG RỈNH QUÀ</a>
                    <hr>
                    <img src="images/tt3.png" alt="" class="w-25">
                    <a href="#" class="text-decoration-none">ĐẠI TIỆC ROG - SĂN QUÀ TỚI TUF</a>
                    <hr>
            </div>
        </div>
                </aside>
        </div>
        
        </div>
    <footer class="text-bg-light mt-2">
      <div class="row">
        <div class=" col-3 ">
          <h3>Về GIGAVN</h3>
          <a href="#" class="footer">Giới Thiệu</a> <br>
          <a href="#" class="footer">Tuyển Dụng</a>
        </div>
        <div class=" col-3">
          <h3>Chính Sách</h3>
          <a href="#" class="footer">Chính Sách Bảo Hành</a> <br>
          <a href="#" class="footer">Chính Sách Thanh Toán</a> <br>
          <a href="#" class="footer">Chính Sách Giao Hàng</a><br>
          <a href="#" class="footer">Chính Sách Bảo Mật</a><br>
        </div>
        <div class=" col-3">    
          <h3>Thông Tin Và Hổ Trợ</h3>
          <a href="#" class="footer">Hệ Thống Cửa Hàng</a><br>
          <a href="#" class="footer">Trung Tâm Bảo Hành</a> <br>
          <a href="#" class="footer">CSKH: 1900.1008</a> <br>
        </div>
        <div class=" col-3">
          <h3>Cách Thức Thanh Toán</h3>
          <img src="images/pay_1.png" alt=""class="w-25">
          <img src="images/pay_2.png" alt=""class="w-25">
          <img src="images/pay_3.png" alt=""class="w-25">
          <img src="images/pay_4.png" alt=""class="w-25">
          <img src="images/pay_5.png" alt=""class="w-25">
          <img src="images/pay_6.png" alt=""class="w-25">
          <img src="images/pay_7.png" alt=""class="w-25">
          <img src="images/pay_8.png" alt=""class="w-25">
        </div>
      </div>
    </footer>    
    </div>
    <!-- <script src="bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/77eced6b9d.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <script src="angular-1.8.2/angular-1.8.2/angular.min.js"></script>
    <script src="angular-1.8.2/angular-1.8.2/angular-route.min.js"></script>
    <script src="tintuc.js"></script> -->
</body>
</html>