<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIGAVN</title>
    <link rel="stylesheet" href="bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="poly.css">
</head>
<body>
    <header>
    <img src="images/banner_gear_-_banner_top_ba1c84d.jpg" class="w-100 bg-danger" alt="" style="height: 50px;" >
    <!-- <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" style="color: white;" href="#!home"><img src="images/Untitled.png" class="w-25" alt="">GIGA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                  <a  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa-solid fa-list"></i>
                    Danh Mục
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Laptop</a></li>
                    <li><a class="dropdown-item" href="#">Laptop Gaming</a></li>
                    <li><a class="dropdown-item" href="Sanpham.html">PC GVN</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Main,CPU,VGA,Tản</a></li>
                    <li><a class="dropdown-item" href="#">Case-Nguồn-Phụ kiện</a></li>
                    <li><a class="dropdown-item" href="#">Ổ Cứng, Ram, Thẻ nhớ</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Màn Hình</a></li>
                    <li><a class="dropdown-item" href="#">Bàn Phím</a></li>
                    <li><a class="dropdown-item" href="#">Chuột + Lót Chuột</a></li>
                    <li><a class="dropdown-item" href="#">Tai Nghe - Loa</a></li>
                    <li><a class="dropdown-item" href="#">Ghế - Bàn</a></li>
                  </ul>
                  <li>
                      <div class="container-fluid">
                        <form class="d-flex" role="search">
                          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                          <button class="btn btn-outline-light" type="submit" ><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                      </div>
                  </li>
            <li class="nav-item">
              <a class="nav-link" href="#!tintuc"><i class="fa-regular fa-newspaper"></i>Tin Công Nghệ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!about"><i class="fa-solid fa-phone-volume"></i>Liên Hệ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa-solid fa-location-dot"></i>Hệ Thống Cửa Hàng</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa-solid fa-shield"></i>Chính Sách Bảo Hành</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!cart"><i class="fa-solid fa-cart-shopping"></i>Giỏ Hàng</a>
            </li>
          </ul>
          <span class="navbar-text">
            <button class="btn btn-outline-light"><a href="dangnhap.html" class="text-decoration-none">Đăng Nhập</a></button>
          </span>
        </div>
      </div>
    </nav> -->
    </header>
    <div class="container">
        <div class="row">
        <div id="carouselExampleSlidesOnly" class="carousel slide col-6" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/rog_strix_scar_16_-_18_b88c033ae.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="images/gearvn-man-hinh-slider_03501820a.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="images/deal_vang_don_tet_-_slider_36fa9.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="images/banner_web_slider_800x400_fc5e9a.png" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
          
          <img src="images/pc_1_08e6aab03d994a469a64f7ac418.png" class="col-3 " alt="">
          <img src="images/man_hinh_1_d36632176b814ae98aa9c.png" class="col-3 " alt="">
        
        </div>
        <div class="row">
        <img src="images/laptop gearvn.png" class="col-3 w-25" alt="">
        <img src="images/laptop gaming.png" class="col-3 w-25" alt="">
        <img src="images/PC i5.png" class="col-3 w-25" alt="">
        <img src="images/sinhnhat.png" class="col-3 w-25" alt="">
      </div>
      <div class=" p-4 bg-light" style="border:gray 1px solid;">
        <nav class="navbar navbar-expand-lg bg-danger">
          <div  class="container-fluid">
            <p class="navbar-brand" href="#">PC Bán Chạy |</p>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <p class="nav-link active" aria-current="page" href="#">Trả Góp 0%</p>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">PC I3</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> PC I5</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">PC I7</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">PC I9</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">PC R3</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">PC R5</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">PC R7</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">PC R9</a>
                </li>
              </ul>
              
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                      <a style="color: white;" class="nav-link active" aria-current="page" href="Sanpham.html">Xem Tất Cả</a>
                      </li>
                   
                  </ul>
            </div>
          </div>
        </nav>
      <div id="carouselExample" class="carousel carousel-dark slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card-wrapper">
              <div class="card">
                <img src="images/pc_-_39_3f91e44cb8e342ce99ff51b9.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="chitietsanpham.html" class="text-decoration-none"><h5 class="card-title text-black">PC GVN Intel i5-12400F/ VGA RTX 4060</h5></a>
                  <div class="row card-text">
                    <p class="col-6"><i class="fa-solid fa-microchip"></i>i5 12400F</p>
                    <p class="col-6"><i class="fa-solid fa-vr-cardboard"></i>RTX 4060</p>
                    <p class="col-4"><i class="fa-solid fa-keyboard"></i>B760</p>
                    <p class="col-4"><i class="fa-solid fa-memory"></i>8GB </p>
                    <p class="col-4"><i class="fa-solid fa-sd-card"></i>250GB</p>
                  </div>
                  <del>24.490.000₫</del>
                  <p class="text-danger"><strong> 24.290.000₫</strong> <span class="badge text-bg-danger">-1%</span></p>
                  <p class="text-warning">Đánh Giá: 5.0<i class="fa-solid fa-star"></i></p>
                </div>
              </div>
              <div class="card">
                <img src="images/pc1.png" class="card-img-top " alt="...">
                <div class="card-body">
                  <a href="#" class="text-decoration-none"><h5 class="card-title text-black">PC GVN x ASUS EVANGELION 2 (Intel i9-14900K/ VGA RTX 4090)</h5></a>
                  <div class="row card-text">
                    <p class="col-6"><i class="fa-solid fa-microchip"></i>i9 14900K</p>
                    <p class="col-6"><i class="fa-solid fa-vr-cardboard"></i>RTX 4090</p>
                    <p class="col-4"><i class="fa-solid fa-keyboard"></i>Z790</p>
                    <p class="col-4"><i class="fa-solid fa-memory"></i>64GB </p>
                    <p class="col-4"><i class="fa-solid fa-sd-card"></i>1TB</p>
                  </div>
                  <p class="text-danger"><strong> 130.000.000₫</strong></p>
                  <p class="text-warning">Đánh Giá: 5.0<i class="fa-solid fa-star"></i></p>
                </div>
              </div>
              <div class="card">
                <img src="images/pc2.png" class="card-img-top h-75" alt="...">
                <div class="card-body">
                  <a href="#" class="text-decoration-none"><h5 class="card-title text-black">PC GVN Intel i5-12400F/ VGA RTX 4060</h5></a>
                  <div class="row card-text">
                    <p class="col-6"><i class="fa-solid fa-microchip"></i>i5 13400F</p>
                    <p class="col-6"><i class="fa-solid fa-vr-cardboard"></i>RTX 4060</p>
                    <p class="col-4"><i class="fa-solid fa-keyboard"></i>B760</p>
                    <p class="col-4"><i class="fa-solid fa-memory"></i>16GB </p>
                    <p class="col-4"><i class="fa-solid fa-sd-card"></i>1TB</p>
                  </div>
                  <p class="text-danger"> <strong>26.990.000₫</strong></p>
                  <p class="text-warning">Đánh Giá: 4.8<i class="fa-solid fa-star"></i></p>
                </div>
              </div>
              <div class="card">
                <img src="images/pc3.png" class="card-img-top  " alt="...">
                <div class="card-body">
                  <a href="#" class="text-decoration-none"><h5 class="card-title text-black"> Intel i3-12100F/ VGA RX 6600</h5></a>
                  <div class="row card-text">
                    <p class="col-6"><i class="fa-solid fa-microchip"></i>i5 12400F</p>
                    <p class="col-6"><i class="fa-solid fa-vr-cardboard"></i>RTX 4060</p>
                    <p class="col-4"><i class="fa-solid fa-keyboard"></i>B760</p>
                    <p class="col-4"><i class="fa-solid fa-memory"></i>8GB </p>
                    <p class="col-4"><i class="fa-solid fa-sd-card"></i>250GB</p>
                  </div>
                  <del>13.220.000₫</del>
                  <p class="text-danger"><strong> 12.490.000₫ </strong><span class="badge text-bg-danger">-6%</span></p>
                  <p class="text-warning">Đánh Giá: 0<i class="fa-solid fa-star"></i></p>
                </div>
            </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card-wrapper">
              <div class="card">
                <img src="images/pc.png" class="card-img-top " alt="...">
                <div class="card-body">
                  <a href="#" class="text-decoration-none"><h5 class="card-title text-black"> PC GVN Homework Athlon</h5></a>
                  <div class="row card-text">
                    <p class="col-6"><i class="fa-solid fa-microchip"></i>Ath 3000G</p>
                    <p class="col-6"><i class="fa-solid fa-vr-cardboard"></i>RTX 1000</p>
                    <p class="col-4"><i class="fa-solid fa-keyboard"></i>A320</p>
                    <p class="col-4"><i class="fa-solid fa-memory"></i>8GB </p>
                    <p class="col-4"><i class="fa-solid fa-sd-card"></i>250GB</p>
                  </div>
                  <del>4.640.000₫</del>
                  <p class="text-danger"><strong> 3.990.000₫</strong> <span class="badge text-bg-danger">-14%</span></p>
                  <p class="text-warning">Đánh Giá: 0<i class="fa-solid fa-star"></i></p>
                </div>
            </div>
            <div class="card">
              <img src="images/pc4.png" class="card-img-top " alt="...">
              <div class="card-body">
                <a href="#" class="text-decoration-none"><h5 class="card-title text-black"> PC GVN Homework R5</h5></a>
                <div class="row card-text">
                  <p class="col-6"><i class="fa-solid fa-microchip"></i>R5 5600G</p>
                  <p class="col-6"><i class="fa-solid fa-vr-cardboard"></i>RTX 1000</p>
                  <p class="col-4"><i class="fa-solid fa-keyboard"></i>B450</p>
                  <p class="col-4"><i class="fa-solid fa-memory"></i>8GB </p>
                  <p class="col-4"><i class="fa-solid fa-sd-card"></i>250GB</p>
                </div>
                <del>8.340.000₫</del>
                <p class="text-danger"><strong> 7.990.000₫</strong> <span class="badge text-bg-danger">-4%</span></p>
                <p class="text-warning">Đánh Giá: 0<i class="fa-solid fa-star"></i></p>
              </div>
          </div>
          <div class="card">
            <img src="images/pc5.png" class="card-img-top " alt="...">
            <div class="card-body">
              <a href="#" class="text-decoration-none"><h5 class="card-title text-black">PC GVN Intel i9-14900KF/ VGA RTX 4080</h5></a>
              <div class="row card-text">
                <p class="col-6"><i class="fa-solid fa-microchip"></i>i9 14900KF</p>
                <p class="col-6"><i class="fa-solid fa-vr-cardboard"></i>RTX 4080</p>
                <p class="col-4"><i class="fa-solid fa-keyboard"></i>Z790</p>
                <p class="col-4"><i class="fa-solid fa-memory"></i>32GB </p>
                <p class="col-4"><i class="fa-solid fa-sd-card"></i>1TB</p>
              </div>
              <del>93.620.000₫</del>
              <p class="text-danger"><strong> 89.000.000₫</strong> <span class="badge text-bg-danger">-5%</span></p>
              <p class="text-warning">Đánh Giá: 0<i class="fa-solid fa-star"></i></p>
            </div>
        </div>
        <div class="card">
          <img src="images/pc6.png" class="card-img-top " alt="...">
          <div class="card-body">
            <a href="#" class="text-decoration-none"><h5 class="card-title text-black">PC GVN Intel i7-13700F/ VGA RTX 4060 Ti</h5></a>
            <div class="row card-text">
              <p class="col-6"><i class="fa-solid fa-microchip"></i>i7 13700F</p>
              <p class="col-6"><i class="fa-solid fa-vr-cardboard"></i>RTX 4060 Ti</p>
              <p class="col-4"><i class="fa-solid fa-keyboard"></i>B760</p>
              <p class="col-4"><i class="fa-solid fa-memory"></i>16GB </p>
              <p class="col-4"><i class="fa-solid fa-sd-card"></i>500GB</p>
            </div>
            <del>36.610.000₫</del>
            <p class="text-danger"><strong> 34.990.000₫</strong><span class="badge text-bg-danger">-4%</span></p>
            <p class="text-warning">Đánh Giá: 5.0<i class="fa-solid fa-star"></i></p>
          </div>
      </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card-wrapper">
              <div class="card">
                <img src="images/pc7.png" class="card-img-top " alt="...">
                <div class="card-body">
                  <a href="#" class="text-decoration-none"><h5 class="card-title text-black">PC GVN Intel i7-13700F/ VGA RTX 4060 Ti</h5></a>
                  <div class="row card-text">
                    <p class="col-6"><i class="fa-solid fa-microchip"></i>i7 13700</p>
                    <p class="col-6"><i class="fa-solid fa-vr-cardboard"></i>RTX 4060 Ti</p>
                    <p class="col-4"><i class="fa-solid fa-keyboard"></i>B760</p>
                    <p class="col-4"><i class="fa-solid fa-memory"></i>8GB </p>
                    <p class="col-4"><i class="fa-solid fa-sd-card"></i>250GB</p>
                  </div>
                  <del>18.330.000₫</del>
                  <p class="text-danger"><strong> 17.990.000₫</strong><span class="badge text-bg-danger">-2%</span></p>
                  <p class="text-warning">Đánh Giá: 0<i class="fa-solid fa-star"></i></p>
                </div>
            </div>
            <div class="card">
              <img src="images/pc8.png" class="card-img-top h-75" alt="...">
              <div class="card-body">
                <a href="#" class="text-decoration-none"><h5 class="card-title text-black">PC GVN Intel i7-13700F/ VGA RTX 4060</h5></a>
                <div class="row card-text">
                  <p class="col-6"><i class="fa-solid fa-microchip"></i>i7 13700F</p>
                  <p class="col-6"><i class="fa-solid fa-vr-cardboard"></i>RTX 4060</p>
                  <p class="col-4"><i class="fa-solid fa-keyboard"></i>B760</p>
                  <p class="col-4"><i class="fa-solid fa-memory"></i>16GB </p>
                  <p class="col-4"><i class="fa-solid fa-sd-card"></i>500GB</p>
                </div>
                <del>34.520.000₫</del>
                <p class="text-danger"><strong> 32.990.000₫</strong><span class="badge text-bg-danger">-4%</span></p>
                <p class="text-warning">Đánh Giá: 0<i class="fa-solid fa-star"></i></p>
              </div>
          </div>
          <div class="card">
            <img src="images/pc9.png" class="card-img-top h-50" alt="...">
            <div class="card-body">
              <a href="#" class="text-decoration-none"><h5 class="card-title text-black">PC GVN AMD R5-7600/ VGA RTX 4060</h5></a>
              <div class="row card-text">
                <p class="col-6"><i class="fa-solid fa-microchip"></i>R5 7600</p>
                <p class="col-6"><i class="fa-solid fa-vr-cardboard"></i>RTX 4060</p>
                <p class="col-4"><i class="fa-solid fa-keyboard"></i>B650</p>
                <p class="col-4"><i class="fa-solid fa-memory"></i>16GB </p>
                <p class="col-4"><i class="fa-solid fa-sd-card"></i>250GB</p>
              </div>
              <del>25.680.000₫</del>
              <p class="text-danger"><strong> 23.990.000₫</strong><span class="badge text-bg-danger">-7%</span></p>
              <p class="text-warning">Đánh Giá: 5.0<i class="fa-solid fa-star"></i></p>
            </div>
        </div>
        <div class="card">
          <img src="images/PC10.png" class="card-img-top " alt="...">
          <div class="card-body">
            <a href="#" class="text-decoration-none"><h5 class="card-title text-black">PC GVN G-STUDIO Intel i9-14900K/ VGA RTX 4070 Ti (Powered by ASUS)</h5></a>
            <div class="row card-text">
              <p class="col-6"><i class="fa-solid fa-microchip"></i>i9 14900K</p>
              <p class="col-6"><i class="fa-solid fa-vr-cardboard"></i>RTX 4070 Ti</p>
              <p class="col-4"><i class="fa-solid fa-keyboard"></i>Z790</p>
              <p class="col-4"><i class="fa-solid fa-memory"></i>64GB </p>
              <p class="col-4"><i class="fa-solid fa-sd-card"></i>1TB</p>
            </div>
            <del>75.370.000₫</del>
            <p class="text-danger"><strong> 75.000.000₫</strong><span class="badge text-bg-danger">-1%</span></p>
            <p class="text-warning">Đánh Giá: 5.0<i class="fa-solid fa-star"></i></p>
          </div>
      </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class=" p-4 bg-light mt-3" style="border:gray 1px solid;">
      <nav class="navbar navbar-expand-lg bg-danger">
        <div  class="container-fluid">
          <p class="navbar-brand" href="#">LAPTOP Bán Chạy |</p>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <p class="nav-link active" aria-current="page" href="#">Miễn Phí Vận Chuyển</p>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">ASUS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> ACER</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">MSI</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">LENOVO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">GIGABYTE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">DELL</a>
              </li>
            </ul>
            
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a style="color: white;" class="nav-link active" aria-current="page" href="#">Xem Tất Cả</a>
                    </li>
                </ul>
          </div>
        </div>
      </nav>
    <div id="carousel" class="carousel carousel-dark slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card-wrapper">
            <div class="card">
              <img src="images/lt1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="#" class="text-decoration-none"><h5 class="card-title text-black">Laptop gaming MSI GF63 12UCX 841VN</h5></a>
                <div class="row card-text">
                  <p class="col-6"><i class="fa-solid fa-microchip"></i>i5-12450H</p>
                  <p class="col-6"><i class="fa-solid fa-vr-cardboard"></i>RTX 2050</p>
                  <p class="col-4"><i class="fa-solid fa-tv"></i>15.6 inch FHD</p>
                  <p class="col-4"><i class="fa-solid fa-memory"></i>8 GB </p>
                  <p class="col-4"><i class="fa-solid fa-sd-card"></i>512 GB</p>
                </div>
                <del>17.990.000₫</del>
                <p class="text-danger"><strong> 15.790.000₫</strong> <span class="badge text-bg-danger">-12%</span></p>
                <p class="text-warning">Đánh Giá: 4.6<i class="fa-solid fa-star"></i></p>
              </div>
            </div>
            <div class="card">
              <img src="images/lt2.png" class="card-img-top " alt="...">
              <div class="card-body">
                <a href="#" class="text-decoration-none"><h5 class="card-title text-black">Laptop gaming Acer Predator Helios 300 PH315 55 76KG</h5></a>
                <div class="row card-text">
                  <p class="col-6"><i class="fa-solid fa-microchip"></i>i7-12700H</p>
                  <p class="col-6"><i class="fa-solid fa-vr-cardboard"></i>RTX 3060</p>
                  <p class="col-4"><i class="fa-solid fa-tv"></i>15.6 inch FHD</p>
                  <p class="col-4"><i class="fa-solid fa-memory"></i>16 GB </p>
                  <p class="col-4"><i class="fa-solid fa-sd-card"></i>512 GB</p>
                </div>
                <del>48.490.000₫</del>
                <p class="text-danger"><strong> 31.990.000₫</strong><span class="badge text-bg-danger">-34%</span></p>
                <p class="text-warning">Đánh Giá: 5.0<i class="fa-solid fa-star"></i></p>
              </div>
            </div>
            <div class="card">
              <img src="images/lt3.png" class="card-img-top h-75" alt="...">
              <div class="card-body">
                <a href="#" class="text-decoration-none"><h5 class="card-title text-black">Laptop gaming Lenovo LOQ 15IRH8 82XV00QQVN</h5></a>
                <div class="row card-text">
                  <p class="col-6"><i class="fa-solid fa-microchip"></i>i5-12450H</p>
                  <p class="col-6"><i class="fa-solid fa-vr-cardboard"></i>RTX 2050</p>
                  <p class="col-4"><i class="fa-solid fa-tv"></i>15.6 inch FHD</p>
                  <p class="col-4"><i class="fa-solid fa-memory"></i>8 GB</p>
                  <p class="col-4"><i class="fa-solid fa-sd-card"></i>512 GB</p>
                </div>
                <del>20.990.000₫</del>
                <p class="text-danger"> <strong>18.490.000₫</strong><span class="badge text-bg-danger">-12%</span></p>
                <p class="text-warning">Đánh Giá: 4.8<i class="fa-solid fa-star"></i></p>
              </div>
            </div>
            <div class="card">
              <img src="images/lt4.png" class="card-img-top  h-50" alt="...">
              <div class="card-body">
                <a href="#" class="text-decoration-none"><h5 class="card-title text-black"> Laptop gaming MSI GF63 12UC 887VN</h5></a>
                <div class="row card-text">
                  <p class="col-6"><i class="fa-solid fa-microchip"></i>i7-12650H</p>
                  <p class="col-6"><i class="fa-solid fa-vr-cardboard"></i>RTX 3050</p>
                  <p class="col-4"><i class="fa-solid fa-tv"></i>15.6 inch FHD</p>
                  <p class="col-4"><i class="fa-solid fa-memory"></i>8GB </p>
                  <p class="col-4"><i class="fa-solid fa-sd-card"></i>512 GB</p>
                </div>
                <del>20.990.000₫</del>
                <p class="text-danger"><strong> 20.990.000₫</strong><span class="badge text-bg-danger">-7%</span></p>
                <p class="text-warning">Đánh Giá: 0<i class="fa-solid fa-star"></i></p>
              </div>
          </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-wrapper">
            <div class="card">
              <img src="images/lt5.png" class="card-img-top " alt="...">
              <div class="card-body">
                <a href="#" class="text-decoration-none"><h5 class="card-title text-black"> Laptop Gaming MSI Stealth 16 Mercedes AMG A13VG 289VN</h5></a>
                <div class="row card-text">
                  <p class="col-6"><i class="fa-solid fa-microchip"></i>i9-13900H</p>
                  <p class="col-6"><i class="fa-solid fa-vr-cardboard"></i>RTX 4070</p>
                  <p class="col-4"><i class="fa-solid fa-tv"></i>16 inch UHD+ OLED</p>
                  <p class="col-4"><i class="fa-solid fa-memory"></i>32 GB </p>
                  <p class="col-4"><i class="fa-solid fa-sd-card"></i>2 TB</p>
                </div>
                <del>80.990.000₫</del>
                <p class="text-danger"><strong> 74.990.000₫</strong> <span class="badge text-bg-danger">-7%</span></p>
                <p class="text-warning">Đánh Giá: 5.0<i class="fa-solid fa-star"></i></p>
              </div>
          </div>
          <div class="card">
            <img src="images/lt6.png" class="card-img-top h-50" alt="...">
            <div class="card-body">
              <a href="#" class="text-decoration-none"><h5 class="card-title text-black"> Laptop gaming Lenovo Legion 9 16IRX8 83AG0047VN</h5></a>
              <div class="row card-text">
                <p class="col-6"><i class="fa-solid fa-microchip"></i>i9-13980HX</p>
                <p class="col-6"><i class="fa-solid fa-vr-cardboard"></i>RTX 4090</p>
                <p class="col-4"><i class="fa-solid fa-tv"></i>16 inch 3.2K Mini Led</p>
                <p class="col-4"><i class="fa-solid fa-memory"></i>64 GB</p>
                <p class="col-4"><i class="fa-solid fa-sd-card"></i>512 GB</p>
              </div>
              <del>136.000.000₫</del>
              <p class="text-danger"><strong> 129.990.000₫</strong> <span class="badge text-bg-danger">-4%</span></p>
              <p class="text-warning">Đánh Giá: 4.0<i class="fa-solid fa-star"></i></p>
            </div>
        </div>
        <div class="card">
          <img src="images/lt7.png" class="card-img-top " alt="...">
          <div class="card-body">
            <a href="#" class="text-decoration-none"><h5 class="card-title text-black">Laptop gaming Acer Nitro 5 Tiger AN515 58 50D2</h5></a>
            <div class="row card-text">
              <p class="col-6"><i class="fa-solid fa-microchip"></i>i5-12500H</p>
              <p class="col-6"><i class="fa-solid fa-vr-cardboard"></i>RTX 3060</p>
              <p class="col-4"><i class="fa-solid fa-tv"></i>15.6 inch FHD</p>
              <p class="col-4"><i class="fa-solid fa-memory"></i>16 GB </p>
              <p class="col-4"><i class="fa-solid fa-sd-card"></i>512 GB</p>
            </div>
            <del>35.990.000₫</del>
            <p class="text-danger"><strong> 26.990.000₫</strong> <span class="badge text-bg-danger">-25%</span></p>
            <p class="text-warning">Đánh Giá: 0<i class="fa-solid fa-star"></i></p>
          </div>
      </div>
      <div class="card">
        <img src="images/lt8.png" class="card-img-top " alt="...">
        <div class="card-body">
          <a href="#" class="text-decoration-none"><h5 class="card-title text-black">Laptop gaming ASUS TUF Gaming A15 FA507NV LP046W</h5></a>
          <div class="row card-text">
            <p class="col-6"><i class="fa-solid fa-microchip"></i>i9-13900H</p>
            <p class="col-6"><i class="fa-solid fa-vr-cardboard"></i>RTX 4050</p>
            <p class="col-4"><i class="fa-solid fa-tv"></i>15.6 inch FHD</p>
            <p class="col-4"><i class="fa-solid fa-memory"></i>8GB </p>
            <p class="col-4"><i class="fa-solid fa-sd-card"></i>512GB</p>
          </div>
          <del>33.990.000₫</del>
          <p class="text-danger"><strong> 26.990.000₫</strong><span class="badge text-bg-danger">-21%</span></p>
          <p class="text-warning">Đánh Giá: 5.0<i class="fa-solid fa-star"></i></p>
        </div>
    </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-wrapper">
            <div class="card">
              <img src="images/lt9.png" class="card-img-top " alt="...">
              <div class="card-body">
                <a href="#" class="text-decoration-none"><h5 class="card-title text-black">Laptop Dell Inspiron 15 N3530 I3U085W11BLU</h5></a>
                <div class="row card-text">
                  <p class="col-6"><i class="fa-solid fa-microchip"></i>i3-1305U</p>
                  <p class="col-6"><i class="fa-solid fa-vr-cardboard"></i>Onboard</p>
                  <p class="col-4"><i class="fa-solid fa-tv"></i>15.6 inch FHD</p>
                  <p class="col-4"><i class="fa-solid fa-memory"></i>8GB </p>
                  <p class="col-4"><i class="fa-solid fa-sd-card"></i>512 GB</p>
                </div>
                <del>14.690.000₫</del>
                <p class="text-danger"><strong> 12.890.000₫</strong><span class="badge text-bg-danger">-12%</span></p>
                <p class="text-warning">Đánh Giá: 0<i class="fa-solid fa-star"></i></p>
              </div>
          </div>
          <div class="card">
            <img src="images/lt6.png" class="card-img-top h-50" alt="...">
            <div class="card-body">
              <a href="#" class="text-decoration-none"><h5 class="card-title text-black"> Laptop gaming Lenovo Legion 9 16IRX8 83AG0047VN</h5></a>
              <div class="row card-text">
                <p class="col-6"><i class="fa-solid fa-microchip"></i>i9-13980HX</p>
                <p class="col-6"><i class="fa-solid fa-vr-cardboard"></i>RTX 4090</p>
                <p class="col-4"><i class="fa-solid fa-tv"></i>16 inch 3.2K Mini Led</p>
                <p class="col-4"><i class="fa-solid fa-memory"></i>64 GB</p>
                <p class="col-4"><i class="fa-solid fa-sd-card"></i>512 GB</p>
              </div>
              <del>136.000.000₫</del>
              <p class="text-danger"><strong> 129.990.000₫</strong> <span class="badge text-bg-danger">-4%</span></p>
              <p class="text-warning">Đánh Giá: 4.0<i class="fa-solid fa-star"></i></p>
            </div>
        </div>
        <div class="card">
          <img src="images/lt3.png" class="card-img-top h-75" alt="...">
          <div class="card-body">
            <a href="#" class="text-decoration-none"><h5 class="card-title text-black">Laptop gaming Lenovo LOQ 15IRH8 82XV00QQVN</h5></a>
            <div class="row card-text">
              <p class="col-6"><i class="fa-solid fa-microchip"></i>i5-12450H</p>
              <p class="col-6"><i class="fa-solid fa-vr-cardboard"></i>RTX 2050</p>
              <p class="col-4"><i class="fa-solid fa-tv"></i>15.6 inch FHD</p>
              <p class="col-4"><i class="fa-solid fa-memory"></i>8 GB</p>
              <p class="col-4"><i class="fa-solid fa-sd-card"></i>512 GB</p>
            </div>
            <del>20.990.000₫</del>
            <p class="text-danger"> <strong>18.490.000₫</strong><span class="badge text-bg-danger">-12%</span></p>
            <p class="text-warning">Đánh Giá: 4.8<i class="fa-solid fa-star"></i></p>
          </div>
        </div>
        <div class="card">
          <img src="images/lt5.png" class="card-img-top " alt="...">
          <div class="card-body">
            <a href="#" class="text-decoration-none"><h5 class="card-title text-black"> Laptop Gaming MSI Stealth 16 Mercedes AMG A13VG 289VN</h5></a>
            <div class="row card-text">
              <p class="col-6"><i class="fa-solid fa-microchip"></i>i9-13900H</p>
              <p class="col-6"><i class="fa-solid fa-vr-cardboard"></i>RTX 4070</p>
              <p class="col-4"><i class="fa-solid fa-tv"></i>16 inch UHD+ OLED</p>
              <p class="col-4"><i class="fa-solid fa-memory"></i>32 GB </p>
              <p class="col-4"><i class="fa-solid fa-sd-card"></i>2 TB</p>
            </div>
            <del>80.990.000₫</del>
            <p class="text-danger"><strong> 74.990.000₫</strong> <span class="badge text-bg-danger">-7%</span></p>
            <p class="text-warning">Đánh Giá: 5.0<i class="fa-solid fa-star"></i></p>
          </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
    </div>
    <div class="row">
      <img src="images/banner2.png" alt="" class="col-6 mt-2">
      <img src="images/banner1.png" alt="" class="col-6 mt-2">
    </div>
    <div class=" p-4 bg-light mt-3" style="border:gray 1px solid;">
      <nav class="navbar navbar-expand-lg bg-danger">
        <div  class="container-fluid">
          <p class="navbar-brand" href="#">Chuột Bán Chạy |</p>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <p class="nav-link active" aria-current="page" href="#">Miễn Phí Vận Chuyển</p>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Logitech</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Razer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Asus</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Corsair</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Dare-U</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Rapoo</a>
              </li>
            </ul>
            
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a style="color: white;" class="nav-link active" aria-current="page" href="#">Xem Tất Cả</a>
                    </li>
                </ul>
          </div>
        </div>
      </nav>
    <div id="carousell" class="carousel carousel-dark slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card-wrapper">
            <div class="card">
              <img src="images/c1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="#" class="text-decoration-none"><h5 class="card-title text-black">Chuột Logitech G502 X Plus LightSpeed White</h5></a>
                <div class="row card-text">
                  <p class="col-6"><i class="fa-solid fa-battery-three-quarters"></i>Pin sạc</p>
                  <p class="col-6"><i class="fa-solid fa-lightbulb"></i>Led RGB</p>
                  <p class="col-6"><i class="fa-brands fa-usb"></i>Không dây</p>
                </div>
                <del>3.890.000₫</del>
                <p class="text-danger"><strong> 3.190.000₫</strong> <span class="badge text-bg-danger">-18%</span></p>
                <p class="text-warning">Đánh Giá: 4.6<i class="fa-solid fa-star"></i></p>
              </div>
            </div>
            <div class="card">
              <img src="images/c2.png" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="#" class="text-decoration-none"><h5 class="card-title text-black">Chuột Razer Basilisk V3</h5></a>
                <div class="row card-text">
                  <p class="col-6"><i class="fa-solid fa-battery-three-quarters"></i>Không</p>
                  <p class="col-6"><i class="fa-solid fa-lightbulb"></i>Led RGB</p>
                  <p class="col-6"><i class="fa-brands fa-usb"></i>Có dây</p>
                </div>
                <del>1.990.000₫</del>
                <p class="text-danger"><strong> 990.000₫</strong> <span class="badge text-bg-danger">-50%</span></p>
                <p class="text-warning">Đánh Giá: 4.6<i class="fa-solid fa-star"></i></p>
              </div>
            </div>
            <div class="card">
              <img src="images/c3.png" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="#" class="text-decoration-none"><h5 class="card-title text-black">Chuột Logitech G102 LightSync Black</h5></a>
                <div class="row card-text">
                  <p class="col-6"><i class="fa-solid fa-battery-three-quarters"></i>Không</p>
                  <p class="col-6"><i class="fa-solid fa-lightbulb"></i>Led RGB</p>
                  <p class="col-6"><i class="fa-brands fa-usb"></i>Có dây</p>
                </div>
                <del>599.000₫</del>
                <p class="text-danger"><strong> 399.000₫</strong> <span class="badge text-bg-danger">-33%</span></p>
                <p class="text-warning">Đánh Giá: 4.6<i class="fa-solid fa-star"></i></p>
              </div>
            </div>
            <div class="card">
              <img src="images/c4.png" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="#" class="text-decoration-none"><h5 class="card-title text-black">Chuột Rapoo Gaming VT200 RGB</h5></a>
                <div class="row card-text">
                  <p class="col-6"><i class="fa-solid fa-battery-three-quarters"></i>Không</p>
                  <p class="col-6"><i class="fa-solid fa-lightbulb"></i>Led RGB</p>
                  <p class="col-6"><i class="fa-brands fa-usb"></i>Có dây</p>
                </div>
                <del>690.000₫</del>
                <p class="text-danger"><strong> 490.000₫</strong> <span class="badge text-bg-danger">-29%</span></p>
                <p class="text-warning">Đánh Giá: 4.6<i class="fa-solid fa-star"></i></p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-wrapper">
            <div class="card">
              <img src="images/c5.png" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="#" class="text-decoration-none"><h5 class="card-title text-black">Chuột Cooler Master MM310 SF6 Chun Li</h5></a>
                <div class="row card-text">
                  <p class="col-6"><i class="fa-solid fa-battery-three-quarters"></i>Không</p>
                  <p class="col-6"><i class="fa-solid fa-lightbulb"></i>Led RGB</p>
                  <p class="col-6"><i class="fa-brands fa-usb"></i>Có dây</p>
                </div>
                <del>1.090.000₫</del>
                <p class="text-danger"><strong> 790.000₫</strong> <span class="badge text-bg-danger">-28%</span></p>
                <p class="text-warning">Đánh Giá: 4.6<i class="fa-solid fa-star"></i></p>
              </div>
            </div>
          <div class="card">
            <img src="images/c6.png" class="card-img-top h-75" alt="...">
            <div class="card-body">
              <a href="#" class="text-decoration-none"><h5 class="card-title text-black">Chuột Asus TUF Gaming M3 Gen II</h5></a>
              <div class="row card-text">
                <p class="col-6"><i class="fa-solid fa-battery-three-quarters"></i>Không</p>
                <p class="col-6"><i class="fa-solid fa-lightbulb"></i>Led RGB</p>
                <p class="col-6"><i class="fa-brands fa-usb"></i>Có dây</p>
              </div>
              <del>590.000₫</del>
              <p class="text-danger"><strong> 490.000₫</strong> <span class="badge text-bg-danger">-17%</span></p>
              <p class="text-warning">Đánh Giá: 4.6<i class="fa-solid fa-star"></i></p>
            </div>
          </div>
          <div class="card">
            <img src="images/c7.png" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="#" class="text-decoration-none"><h5 class="card-title text-black">Chuột Logitech G102 LightSync White</h5></a>
              <div class="row card-text">
                <p class="col-6"><i class="fa-solid fa-battery-three-quarters"></i>Không</p>
                <p class="col-6"><i class="fa-solid fa-lightbulb"></i>Led RGB</p>
                <p class="col-6"><i class="fa-brands fa-usb"></i>Có dây</p>
              </div>
              <del>599.000₫</del>
              <p class="text-danger"><strong> 399.000₫</strong> <span class="badge text-bg-danger">-33%</span></p>
              <p class="text-warning">Đánh Giá: 4.6<i class="fa-solid fa-star"></i></p>
            </div>
          </div>
          <div class="card">
            <img src="images/c8.png" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="#" class="text-decoration-none"><h5 class="card-title text-black">Chuột Logitech G304 Wireless</h5></a>
              <div class="row card-text">
                <p class="col-6"><i class="fa-solid fa-battery-three-quarters"></i>Không</p>
                <p class="col-6"><i class="fa-solid fa-lightbulb"></i>Led RGB</p>
                <p class="col-6"><i class="fa-brands fa-usb"></i>Có dây</p>
              </div>
              <del>1.090.000₫</del>
              <p class="text-danger"><strong> 780.000₫</strong> <span class="badge text-bg-danger">-28%</span></p>
              <p class="text-warning">Đánh Giá: 4.6<i class="fa-solid fa-star"></i></p>
            </div>
          </div>
          </div>
        </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousell" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousell" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
    </div>
    <div class="p-4 bg-light mt-3">
      <a href="#!tinkhuyenmai" class="text-decoration-none"><h3>Chuyên Trang Khuyến Mãi</h3></a>
      <div>
        <a href="#"><img src="images/uudai1.png" alt="" class="col-3" style="width: 300px;"></a>
        <a href="#"><img src="images/uudai2.png" alt="" class="col-3" style="width: 300px;"></a>
        <a href="#"><img src="images/uudai3.png" alt="" class="col-3" style="width: 300px;"></a> 
        <a href="#"><img src="images/uudai4.png" alt="" class="col-3" style="width: 300px;"></a>
      </div>
      <hr>
      <a href="#!tintuc" class="text-decoration-none"><h3>Tin Tức Công Nghệ</h3></a>
      <div class="row">
        <div class="col-3">
        <img src="images/tintuc1.png" alt="" style="width: 300px;">
        <a class="text-decoration-none" href="chitiettincongnghe.html">Game NFT là gì ? Cách kiếm tiền từ game <br> NFT - Xu hướng game 2024</a>
      </div>
      <div class="col-3">
        <img src="images/tintuc2.png" alt="" style="width: 300px;">
        <a class="text-decoration-none" href="">Đánh giá chi tiết máy chơi game cầm tay MSI Claw</a>
      </div><div class="col-3">
        <img src="images/tintuc3.png" alt="" style="width: 300px;">
        <a class="text-decoration-none" href="">Cẩm nang chọn laptop cho sinh viên siêu chuẩn năm 2024</a>
      </div><div class="col-3">
        <img src="images/tintuc4.png" alt="" style="width: 300px;">
        <a class="text-decoration-none" href="">Bard AI là gì Tìm hiểu đặc điểm và cách sử dụng Google Bard</a>
      </div>
      </div>
    </div>
    <div class="p-3 bg-light mt-2">
      <h3>Danh Mục Sản Phẩm</h3>
      <hr>
      <div class="row" >
        <div class="col-2" >
          <a href="#" class="text-decoration-none text-dark"><img src="images/sp1.png" alt="" class="w-25"><br>LapTop</a>
         </div>
        <div class="col-2">
          <a href="#" class="text-decoration-none text-dark"><img src="images/sp2.png" alt="" class="w-25"><br>PC</a>
        </div>
        <div class="col-2">
          <a href="#" class="text-decoration-none text-dark"><img src="images/sp3.png" alt="" class="w-25"><br>Màn Hình</a>
        </div>
        <div class="col-2">
          <a href="#" class="text-decoration-none text-dark"><img src="images/sp4.png" alt="" class="w-25"><br>MainBoard</a>
        </div>
        <div class="col-2">
          <a href="#" class="text-decoration-none text-dark"><img src="images/sp5.png" alt="" class="w-25"><br>CPU</a>
        </div>
        <div class="col-2">
          <a href="#" class="text-decoration-none text-dark"><img src="images/sp6.png" alt="" class="w-25"><br>VGA</a>
        </div>
        <div class="col-2">
          <a href="#" class="text-decoration-none text-dark"><img src="images/sp.png" alt="" class="w-25"><br>RAM</a>
        </div>
        <div class="col-2">
          <a href="#" class="text-decoration-none text-dark"><img src="images/sp8.png" alt="" class="w-25"><br>Ổ cứng</a>
        </div>
        <div class="col-2">
          <a href="#" class="text-decoration-none text-dark"><img src="images/sp9.png" alt="" class="w-25"><br>Case</a>
        </div>
        <div class="col-2">
          <a href="#" class="text-decoration-none text-dark"><img src="images/sp10.png" alt="" class="w-25"><br>Tản Nhiệt</a>
        </div>
        <div class="col-2">
          <a href="#" class="text-decoration-none text-dark"><img src="images/sp11.png" alt="" class="w-25"><br>Nguồn</a>
        </div>
        <div class="col-2">
          <a href="#" class="text-decoration-none text-dark"><img src="images/sp12.png" alt="" class="w-25"><br>Bàn Phím</a>
        </div>
        <div class="col-2">
          <a href="#" class="text-decoration-none text-dark"><img src="images/sp13.png" alt="" class="w-25"><br>Chuột</a>
        </div>
        <div class="col-2">
          <a href="#" class="text-decoration-none text-dark"><img src="images/sp14.png" alt="" class="w-25"><br>Ghế</a>
        </div>
        <div class="col-2">
          <a href="#" class="text-decoration-none text-dark"><img src="images/sp15.png" alt="" class="w-25"><br>Tai Nghe</a>
        </div>
        <div class="col-2">
          <a href="#" class="text-decoration-none text-dark"><img src="images/sp16.png" alt="" class="w-25"><br>Loa</a>
        </div>
        <div class="col-2">
          <a href="#" class="text-decoration-none text-dark"><img src="images/sp17.png" alt="" class="w-25"><br>Console</a>
        </div>
        <div class="col-2">
          <a href="#" class="text-decoration-none text-dark"><img src="images/sp18.png" alt="" class="w-25"><br>Phụ Kiện</a>
        </div>
        <div class="col-2">
          <a href="#" class="text-decoration-none text-dark"><img src="images/sp19.png" alt="" class="w-25"><br>Thiết bị VP</a>
        </div>
        <div class="col-2">
          <a href="#" class="text-decoration-none text-dark"><img src="images/sp20.png" alt="" class="w-25"><br>Apple</a>
        </div> 
      </div>
    </div>    
    </div>
    <footer class="text-bg-light mt-2">
      <div class="row">
        <div class=" col-3 ">
          <h3>Về GIGAVN</h3>
          <a href="#" class="footer">Giới Thiệu</a> <br>
          <a href="#" class="footer">Tuyển Dụng</a>
        </div>
        <div class=" col-3">
          <h3>Chính Sách</h3>
          <a href="#" class="footer">Chính Sách Bảo Hành</a> <br>
          <a href="#" class="footer">Chính Sách Thanh Toán</a> <br>
          <a href="#" class="footer">Chính Sách Giao Hàng</a><br>
          <a href="#" class="footer">Chính Sách Bảo Mật</a><br>
        </div>
        <div class=" col-3">
          <h3>Thông Tin Và Hổ Trợ</h3>
          <a href="#" class="footer">Hệ Thống Cửa Hàng</a><br>
          <a href="#" class="footer">Trung Tâm Bảo Hành</a> <br>
          <a href="#" class="footer">CSKH: 1900.1008</a> <br>
        </div>
        <div class=" col-3">
          <h3>Cách Thức Thanh Toán</h3>
          <img src="images/pay_1.png" alt=""class="w-25">
          <img src="images/pay_2.png" alt=""class="w-25">
          <img src="images/pay_3.png" alt=""class="w-25">
          <img src="images/pay_4.png" alt=""class="w-25">
          <img src="images/pay_5.png" alt=""class="w-25">
          <img src="images/pay_6.png" alt=""class="w-25">
          <img src="images/pay_7.png" alt=""class="w-25">
          <img src="images/pay_8.png" alt=""class="w-25">
        </div>
      </div>
    </footer>
    <!-- <script src="angular-1.8.2/angular-1.8.2/angular.min.js"></script>
    <script src="angular-1.8.2/angular-1.8.2/angular-route.min.js"></script>
      <script src="trangchu.js"></script>
    <script src="bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/77eced6b9d.js" crossorigin="anonymous"></script> -->
</body>
</html>